<header class="main-header">
	<h1>
		<span class="tall-char">G</span>rowing <span class="tall-char">G</span>uide
	</h1>
	<p class="header-desc">
		There are many philodendron species that one can grow in the indoor environment but proper care is needed to ensure a healthy plant.
	</p>
</header>
<section>
	<div class="row p-sm-5">
		<div class="traits col-md-6 order-md-2">
			<h2>Soil Recommendation:</h2>
			<p class="descriptions">
				The soil of philodendrons in their natural, tropical habitat is very loose, composed mostly of debris such as leaf litter, wood, and compost. Some don&apos;t even grow in soil at all and grow attached to a tree. As such, the soil used for growing philodendrons indoors should be fast draining and loose, which will also help to ensure proper air circulation around the roots.
			</p>
			<p class="descriptions">
				Here is the soil mixture I use to accomplish this result, which contains roughly equal parts of the following ingredients: peat moss (with some dolomite lime), perlite, charcoal, and bark. The peat moss holds ample moisture while the dolomite lime helps adjust the pH to suitable levels. The rest of the ingredients improve drainage. The charcoal in particular absorbs odors and excess moisture while promoting beneficial bacteria.
			</p>
			<p class="descriptions">
				When watering the plant, the water should flow out through the bottom of the pot in a timely manner; the first time will be slightly slower however, due to the peat moss being dry.
			</p>
		</div>
		<div class="col-md-6 order-md-1">
			<figure>
				<img src="images/SoilMix.png" alt="Photograph of philodendron soild mixture" />
				<figcaption class="boldText">Recommended philodendron soil mixture.</figcaption>
			</figure>
		</div>
	</div>
	<div class="row p-4 p-sm-5">
		<div class="col-md-6">
			<div class="traits">
				<h2>Planter Recommendation:</h2>
				<p class="descriptions">
					While there are numerous types of pots available, a plastic pot with plenty of drainage holes on the bottom is recommended as opposed to clay, which dries out faster and might crack. The size of the pot should be slightly larger than that of the root ball. Philodendrons generally prefer to be somewhat pot bound but also need sufficient room to grow new roots.
				</p>
				<p class="descriptions">
					Too large of a pot, however, will cause too much moisture to remain in the soil and in turn cause root rot and slow or even halt plant growth. Move the plant up to a new pot one to two inches larger than the current one when the roots have filled the pot and are tightly wrapped together.
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<figure>
				<img src="images/Pots.jpg" alt="Photograph of pots with drainage holes" />
				<figcaption class="boldText">Pots should have plenty of holes for proper drainage.</figcaption>
			</figure>
		</div>
	</div>
	<div class="row p-4 p-sm-5">
		<div class="col-md-6 order-md-2">
			<div class="traits">
				<h2>Watering Advice:</h2>
				<p class="descriptions">
					There are a few indicators to determine when to water a philodendron. Firstly, you can lift up the pot and if it is noticeably lighter than usual, the plant might need watering. You can also look at the top of the soil to see if it looks dry.
				</p>
				<p class="descriptions">
					The best method though is to push your finger about one or two inches into the soil. If the soil feels slightly damp, almost dry to the touch, then the plant needs watering. The soil should never be allowed to become either completely dry or soggy!
				</p>
			</div>
		</div>
		<div class="col-md-6 order-md-1">
			<figure>
				<img src="images/TestSoil.png" alt="Photograph of checking soil moisture" />
				<figcaption class="boldText">Insert a finger into the soil to check if the plant needs water.</figcaption>
			</figure>
		</div>
	</div>
	<div class="row p-4 p-sm-5">
		<div class="col-md-6">
			<div class="traits">
				<h2>General Guidelines:</h2>
				<ul class="fact-list">
					<li>
						Wipe the leaves with a damp cloth when they become dusty to improve leaf transpiration rate and appearance.
					</li>
					<li>
						Plants suffer when exposed to too cool or hot of conditions; keep away from cold drafts, heaters, and direct sunlight. 
					</li>
					<li>
						Low humidity or overfeeding can cause brown leaf tips; if low humidity is an issue, try placing a small dish of water near the plant to raise the humidity; a humidifier is also an option in overly dry environments.
					</li>
					<li>
						Too bright of light or overwatering can cause yellowing of leaves; refer to each plant on this site for preferred light levels.
					</li>
					<li>
						Philodendrons and monstera are poisonous and should not be ingested.
					</li>
					<li>
						Feed only during the spring and summer using a low strength, diluted, liquid plant food.
					</li>
					<li>
						Only purchase plants with plenty of foliage and without tears, spots, and leaf drop.
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<figure>
				<img src="images/WipeLeaf.png" alt="Photograph of wiping a philodendron leaf" />
				<figcaption class="boldText">Wipe leaves regularly using a soft, moist cloth.</figcaption>
			</figure>
		</div>
	</div>
</section>