<header class="main-header">
    <h1>Too Many Requests</h1>
    <p class="header-desc">
        Your computer has recently sent too many requests to our server. Please try again later.
    </p>
</header>