<a id="to-top" href="#logo-img">Back to Top</a>
</article>
	</main>
	<footer class="center-text">
		<p class="copyright">Shawn's Plant Hut Copyright &copy;<%- new Date().getFullYear() %> by Shawn Fenner. All Rights Reserved.</p>
	</footer>
</div>
</body>
</html>