<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Explore the philodendron genus including structure and growing information">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/reset.css" >
	<link rel="stylesheet" href="/styles/main.css">
	<title>Shawn's Plant Hut</title>
</head>
<body>
<div id="contentContainer">
	<main role="main" id="mainContent">
		<div class="logo-area">
			<a href="./"><img id="logo-img" src="/images/Logo.png" alt="Site logo"></a>
			<img id="logo-msg" src="/images/YourGuide.png" alt="Your guide to philodendrons">
		</div>
		<nav class="nav-bar" role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/plant-list">Plant List</a></li>
				<li><a href="/growing-guide">Growing Guide</a></li>
				<li><a href="/form">Form</a></li>
			</ul>
        </nav>
		<article class="container-fluid">